/* Style the h1 element */
h1 {
    font-size: 60px;
    text-align: start;
    margin: 0 0 5px 10px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Style the task list */
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 20px;
}

/* Style the list items */
li {
    margin: 5px 0;
    font-size: 30px;
}

/* Style the remove task links */
ul li button{
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;

}

ul li button:hover{
    background-color: #970f00;

}

/* Style the form input and button */
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.container{
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 60px auto;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container + ul {
    margin-top: 20px;
}